{% extends "govuk/template.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block head %}
  <link href="{{ '/assets/css/index.css' | assetMap }}" rel="stylesheet"/>
{% endblock %}

{% block pageTitle %}{{pageTitle | default(applicationName)}}{% endblock %}

{% block header %}
  {% include "./header.njk" %}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content">
      <span class="govuk-phase-banner__text">
        <a class="govuk-link" href="/contact-us">Contact us</a> if you need help or would like to give us some feedback.
      </span>
    </p>
  </div>
  {% if backLinkHref %}
    {{ govukBackLink({ href: backLinkHref }) }}
  {% endif %}
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ '/assets/js/index.js' | assetMap }}"></script>
{% endblock %}
