NODE_ENV=development

REDIS_ENABLED=false
TOKEN_VERIFICATION_ENABLED=false

# Credentials for allowing user access
AUTH_CODE_CLIENT_ID=hmpps-typescript-template
AUTH_CODE_CLIENT_SECRET=clientsecret

# Credentials for API calls
CLIENT_CREDS_CLIENT_ID=hmpps-typescript-template-system
CLIENT_CREDS_CLIENT_SECRET=clientsecret

# Testing
BASE_URL=http://localhost:3000
SEND_MONEY_URL=http://localhost:8004
