{% extends "../partials/layout.njk" %}

{% set pageTitle = "Contact us - " + applicationName %}
{% set mainClasses = "govuk-body" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Contact us</h1>

      <p class="govuk-body">This page is a placeholder for contact and feedback details.</p>

    </div>
  </div>

{% endblock %}
