{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "govuk-body" %}


{% block content %}

  <span id="Top"></span>

  <div class="govuk-grid-row" id="guide-print">
    <div class="govuk-grid-column-two-thirds">
      <div class="gem-c-title govuk-!-margin-top-8 govuk-!-margin-bottom-6">

        <h1 class="gem-c-title__text govuk-heading-xl">
          Staying in touch with someone in prison
        </h1>
      </div>
    </div>
  </div>

{% endblock %}
