{% extends "../partials/layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set pageTitle = "Enter prisoner details - " + applicationName %}
{% set mainClasses = "govuk-body" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <header>
        <h1 class="govuk-heading-xl"><span class="govuk-caption-xl">Pay now by debit card</span> Enter prisoner details</h1>
      </header>

      {% if errorList and errorList.length %}
        {{ govukErrorSummary({
          titleText: "There was a problem",
          errorList: errorList
        }) }}
      {% endif %}

      <form method="post" action="/debit-card/details">
        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
        <fieldset class="govuk-fieldset">
          <legend class="govuk-visually-hidden">Prisoner details</legend>

          <div id="id_prisoner_name-wrapper">
            {{ govukInput({
              id: "id_prisoner_name",
              name: "prisoner_name",
              label: {
                text: "Name"
              },
              classes: "govuk-input--width-20",
              value: formValues.prisonerName,
              errorMessage: { text: 'PROOBKEM'} if errors.prisonerName else undefined
            }) }}
          </div>

          <div id="id_prisoner_dob-wrapper">
            {{ govukDateInput({
              id: "id_prisoner_dob",
              namePrefix: "prisoner_dob",
              fieldset: {
                legend: {
                  text: "Date of birth"
                }
              },
              hint: {
                text: "For example, 27 3 1985"
              },
              errorMessage: { text: errors.prisonerDob } if errors.prisonerDob else undefined,
              items: [
                {
                  id: "id_prisoner_dob_0",
                  name: "prisoner_dob_0",
                  classes: "govuk-input--width-2",
                  label: "Day",
                  value: formValues.prisonerDobDay
                },
                {
                  id: "id_prisoner_dob_1",
                  name: "prisoner_dob_1",
                  classes: "govuk-input--width-2",
                  label: "Month",
                  value: formValues.prisonerDobMonth
                },
                {
                  id: "id_prisoner_dob_2",
                  name: "prisoner_dob_2",
                  classes: "govuk-input--width-4",
                  label: "Year",
                  value: formValues.prisonerDobYear
                }
              ]
            }) }}
          </div>

          <div id="id_prisoner_number-wrapper">
            {{ govukInput({
              id: "id_prisoner_number",
              name: "prisoner_number",
              label: {
                text: "Prisoner number"
              },
              hint: {
                text: "For example, A1234BC"
              },
              classes: "govuk-input--width-10 mtp-input--prisoner-number",
              value: formValues.prisonerNumber,
              errorMessage: { text: errors.prisonerNumber } if errors.prisonerNumber else undefined
            }) }}
          </div>
        </fieldset>

        <p>
          <button id="id_next_btn" class="govuk-button" data-module="govuk-button" type="submit">
            Enter amount
          </button>
        </p>
      </form>

    </div>
  </div>

{% endblock %}
